{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="login">
      <div class="div">
        <div class="frame">
          <div class="frame-2">
            <div class="text-wrapper">👋Welcome back</div>
            <div class="text-wrapper-2">Login to your account</div>
          </div>
          <div class="frame-3">
            <img class="solid-brands-google" src="img/google-alt.svg" />
            <div class="text-wrapper-3">Continue with Google</div>
          </div>
          <img class="line" src="img/line-1.svg" />
          <form method="POST" enctype="multipart/form-data" >
                  {%csrf_token %}
          <div class="frame-4">
            <div class="frame-5">
              <div class="frame-6">
                <div class="text-wrapper-4">Email Address</div>
                <input class="div-wrapper" type="email" name="email">
              </div>
              <div class="frame-6">
                <div class="text-wrapper-4">Password</div>
              <input class="div-wrapper" type="password" name="password" >
              </div>
              <div class="text-wrapper-6"><a href="#">Create new account</a></div>
            </div>
            <input class="frame-7" type="submit" value="Log In">
          </div>
          </form>
        </div>
        <div class="frame-8">
          <img class="home" src="img/home.svg" />
          <div class="text-wrapper-8">Home</div>
        </div>
      </div>
    </div>
  </body>
</html>
